   <div class="container">
		<h1 class="my-3">Buscar</h1>
		<!--Search-->
		<form action="#" method="#" >
			 <div class="col-md-12 mb-3">
      			<div class="input-group">
	        		
        			<input type="text" class="form-control" placeholder="search"  required>
        			<div class="input-group-prepend">
	        		  <span class="input-group-text " ><b class="fa fa-search"></b></span>
	        		</div>
      			</div>
   			 </div>
		</form>

    <h1 class="my-4">Departamentos del Perú</h1>
    <div class="row">
    	<div class="col-12 col-md-3">
    		<img src="https://imgs.deperu.com/regiones/ucayali.png" class="img-fluid rounded-circle">
    	</div>
    	<div class="col-12 col-md-3">
    		<img src="https://imgs.deperu.com/regiones/ucayali.png" class="img-fluid  rounded-circle">
    	</div>
    	<div class="col-12 col-md-3">
    		<img src="https://imgs.deperu.com/regiones/ucayali.png" class="img-fluid rounded-circle">
    	</div>
    	<div class="col-12 col-md-3">
    		<img src="https://imgs.deperu.com/regiones/ucayali.png" class="img-fluid  rounded-circle">
    	</div>

    	<div class="col-md-12 text-center my-4"><button type="button" class="btn btn-primary"> Ver más departamentos</button></div>
    </div>
	</div>